doctype html
html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/main.css")
        title= title
    body
        include ./includes/menu.pug

        div#persons
            table(class='table table-hover table-dark')
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") Name
                        th(scope="col") LastName
                        th(scope="col") Personal ID
                        th(scope="col") Father Name
                        th(scope="col") Birthdate
                        th(scope="col") Delete
                        th(scope="col") Edit
                        th(scope="col") Status
                tbody
                    each val, index in persons
                        tr
                            th(scope="row")= index+1
                            td= persons[index].name
                            td= persons[index].lastname
                            td= persons[index].id
                            td= persons[index].fathername
                            td= persons[index].birthdate
                            td
                                a(href="http://localhost:3000/delete/" + persons[index].id)
                                    button(type="button" class="btn btn-danger") Delete
                            td
                                a(href="http://localhost:3000/edit/" + persons[index].id)
                                    button(type="button" class="btn btn-success") EdiT
                            td
                                if persons[index].status == 1
                                    a(href="http://localhost:3000/status/1/" + persons[index].id)
                                        button(type="button" class="btn btn-danger") Disable
                                else
                                    a(href="http://localhost:3000/status/0/" + persons[index].id)
                                        button(type="button" class="btn btn-success") Enable

        div#cars
            table(class='table table-hover table-dark')
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") Mark
                        th(scope="col") Model
                        th(scope="col") Car Number
                        th(scope="col") Vin Code
                        th(scope="col") Color
                        th(scope="col") Delete
                        th(scope="col") Edit
                        th(scope="col") Status
                tbody
                    each val, index in cars
                        
                        tr
                            th(scope="row")= index+1
                            td= cars[index].mark
                            td= cars[index].model
                            td= cars[index].gNumber
                            td= cars[index].vin
                            td= cars[index].color
                            td
                                a(href="http://localhost:3000/car/delete/" + cars[index].vin)
                                    button(type="button" class="btn btn-danger") Delete
                            td
                                a(href="http://localhost:3000/car/edit/" + cars[index].vin)
                                    button(type="button" class="btn btn-success") Edit
                            td
                                if cars[index].status == 1
                                    a(href="http://localhost:3000/car/status/1/" + cars[index].vin)
                                        button(type="button" class="btn btn-danger") Disable
                                else
                                    a(href="http://localhost:3000/car/status/0/" + cars[index].vin)
                                        button(type="button" class="btn btn-success") Enable
    script(src="/js/main.js")  
    include ./includes/footer.pug
                        